p {
  color: red;
}

#lorem {
  color: blueviolet;
  text-align: center;
}

h1 {
  color: blue;
}

h1:first-child {
  color: black;
}

#title {
  font-size: 100px;
  text-align: center;
  color: darkslategrey;
}
